<form class="form" [formGroup]="postForm">
  <div class="form__container">
    <div class="form__group">
      <label class="form__label">Image: </label>
      <quill-editor formControlName="image"></quill-editor>
      <div
        class="form__validation"
        *ngIf="postForm.get('image')?.touched && postForm.get('image')?.invalid"
      >
        <small *ngIf="postForm.get('image')?.hasError('required')"
          >Not enough characters</small
        >
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Text: </label>
      <quill-editor formControlName="text"></quill-editor>
      <div
        class="form__validation"
        *ngIf="postForm.get('text')?.touched && postForm.get('text')?.invalid"
      >
        <small *ngIf="postForm.get('image')?.hasError('required')"
          >Not enough characters</small
        >
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Author: </label>
      <input formControlName="author" class="form__input" />
      <div
        class="form__validation"
        *ngIf="
          postForm.get('author')?.touched && postForm.get('author')?.invalid
        "
      >
        <small *ngIf="postForm.get('image')?.hasError('required')"
          >Not enough characters</small
        >
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Title: </label>
      <input formControlName="title" class="form__input" />
      <div
        class="form__validation"
        *ngIf="postForm.get('title')?.touched && postForm.get('title')?.invalid"
      >
        <small *ngIf="postForm.get('image')?.hasError('required')"
          >Not enough characters</small
        >
      </div>
    </div>
    <div class="form__group">
      <label class="form__label">Category: </label>
      <select name="postCategory" id="" formControlName="category">
        <option value="Nature">Nature</option>
        <option value="Animals">Animals</option>
        <option value="People">People</option>
        <option value="Culture">Culture</option>
      </select>
    </div>
  </div>
  <div class="form__btns">
    <button class="form__btn save" type="submit" (click)="submit()">
      Save
    </button>
    <button
      *ngIf="task === 'edit'"
      class="form__btn delete"
      (click)="deletePost()"
    >
      Delete
    </button>
  </div>
</form>
