<main>
  <ng-container *ngIf="isLoading">
    <div class="details__loading">
      <app-loader></app-loader>
    </div>
  </ng-container>
  <section class="details">
    <div *ngIf="post$ | async as post">
      <div class="details__post">
        <div class="details__wrap">
          <div class="details__date">{{ post.date | date: "MMM d, y" }}</div>
        </div>
        <div class="details__info">
          <h1 class="details__title">{{ post.title }}</h1>
          <div class="details__img">
            <quill-view-html [content]="post.image"></quill-view-html>
          </div>
          <div class="details__author">{{ post.author }}</div>
          <div class="details__category">{{ post.category }}</div>
        </div>
        <div class="details__text">
          <quill-view-html [content]="post.text"></quill-view-html>
        </div>
      </div>
    </div>
  </section>
  <aside class="details__posts">
    <div class="post" *ngFor="let item of posts">
      <div class="details__post-img">
        <quill-view-html [content]="item.image"></quill-view-html>
      </div>
      <p class="details__post-date">{{ item.date | date: "MMM d, y" }}</p>
      <h2 class="details__post-title">{{ item.title }}</h2>
      <div class="details__post-text">
        <quill-view-html [content]="item.text"></quill-view-html>
      </div>
      <ul class="details__post-tags">
        <li class="details__post-tags-item">{{ item.category }}</li>
      </ul>
      <div class="details__post-btns">
        <div
          class="details__post-btns-edit"
          *ngIf="authService.isAuthenticated()"
        >
          <button
            class="details__post-btn"
            [routerLink]="['/edit-post', item.id]"
          >
            Edit
          </button>
        </div>
        <div class="details__post-btns-id">
          <button class="details__post-btn" [routerLink]="['/post', item.id]">
            Open
          </button>
        </div>
      </div>
    </div>
  </aside>
</main>
