<main>
  <section class="details">
    <div *ngIf="post$ | async as post">
      <div class="details__post">
        <div class="details__wrap">
          <div class="details__date">{{ post.date | date: "MMM d, y" }}</div>
        </div>
        <div class="details__info">
          <h1 class="details__title">{{ post.title }}</h1>
          <div class="details__img">
            <quill-view-html [content]="post.image"></quill-view-html>
          </div>
          <div class="details__author">{{ post.author }}</div>
        </div>
        <div>
          <quill-view-html [content]="post.text"></quill-view-html>
        </div>
      </div>
    </div>
  </section>
  <aside class="details__posts">
    <div class="post" *ngFor="let item of posts">
      <div class="post__img">
        <quill-view-html [content]="item.image"></quill-view-html>
      </div>
      <p class="details__date">{{ item.date | date: "MMM d, y" }}</p>
      <h2 class="details__title">{{ item.title }}</h2>
      <quill-view-html [content]="item.text"></quill-view-html>
      <ul class="details__tags">
        <li class="details__tags-item">{{ item.category }}</li>
      </ul>
      <div class="post__btns">
        <div class="post__btns-edit">
          <button class="post__btn" [routerLink]="['/edit-post', item.id]">
            Edit
          </button>
        </div>
        <div class="post__btns-id">
          <button class="post__btn" [routerLink]="['/post', item.id]">
            Open
          </button>
        </div>
      </div>
    </div>
  </aside>
</main>
