main{
  margin: 0 auto;
  padding-right: 70px;
  display: grid;
  grid-template-columns:2fr 1fr;

}

.details {
  position: relative;

  &__posts {
    margin-top: 40px;

  }

  &__date {
    color: #6941C6;
    font-weight: 600;
    font-size: 14px;
    margin-top: 40px;
  }

  &__title {
    margin: 20px 0px 20px 0px ;
    font-weight: 600;
    font-size: 24px;
    color: var(--text-color);
  }

  &__author {
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
  }

  &__category {
    margin: 10px 0px 0px 0px  ;
    background-color: var(--category-color);
    border-radius: 10px;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }

  &__post {
    &-date {
      margin-top: 15px;
      color: #6941C6;
      font-weight: 600;
      font-size: 14px;
    }

    &-title {
      margin: 20px 0px 10px 0px;
      font-weight: 600;
      font-size: 20px;
      color: var(--text-color);
      text-align: left;
    }

    &-tags {
      &-item {
        margin: 10px 0px 10px 0px;
        background-color: var(--category-color);
        border-radius: 10px;
        padding-top: 0;
        max-width: 200px;
        display: flex;
        justify-content: center;
      }
    }

    &-btns {
      margin: 20px 0px;
      display: flex;
      justify-content: space-around;
      gap: 30px;
    }

    &-btn {
      width: 100px;
      height: 25px;
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      background-color: #000000;
      margin-bottom: 20px;
    }

    &-btn {
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.3s;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
      }
    }
  }
  &__loading{
    display: block;
    margin: 0 auto;

  }
}

