
.footer{
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  padding-bottom: 30px;
  &__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    column-gap: 30px;

  }
  &__link{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
  }
}

@media (max-width: 1374px) {
  .footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
    &__list{
      list-style: none;
      display: flex;
      justify-content: space-around;
      column-gap: 25px;

    }
    &__link{
      text-decoration: none;
      color: var(--font-color);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
  }

}

@media (max-width: 930px) {
  .footer{
    &__list{
      column-gap: 20px;
    }
    &__link{
      font-size: 14px;

    }
  }

}


