
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

body{
  background-color: rgba(237, 244, 250, 0.37);
}

.ql-container{
  display: grid;
  gap: 20px;
}

.ql-editor {
  padding: 0 ;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;
  img{
    height: 400px;
    width: 300px;
    object-fit: cover;
  }

}









